*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body{
box-sizing: border-box;

font-size: 20px;
background-color: rgb(165, 165, 165);
}

/*header part*/

.head1{
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    flex-direction: row;
}

.header-left{
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}

.header-left a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
}

.header-left-p a{
   font-size: 10px;
   letter-spacing: 1.5px;
}

.header-left-p span{
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}

.header-left-p:hover{
    text-decoration: underline;
    color: white;
}

.header-center{
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}

.header-center-input{
    padding: 0 16px;
    border-radius: 1.5px 0 0 1.5px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 400PX;
}

.fa-search{
    position: absolute;
    top: 30%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}

.header-right{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
    line-height: 50px;
}
.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
    
}

.header-right .active{
    background-color: white;
    color: #2874f0;
    padding: 5px 30px;
    height: 35px;
    width: 130px;
    line-height: 23px;
    margin-top: 8px;
    border-radius: 2px;
    text-align: center;
}

.fa-shopping-cart{
    padding-right: 10px;
}

.fa-sort-down{
    padding-left: 5px;
}

.category-row{
    list-style: none;
    text-align: center;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border-bottom: 0.5px solid rgb(190, 190, 190);
    background-color: white;
}

img{
 object-fit: contain;
}
.category-col{
        padding: 0px 10px;
        margin: 0px 20px;    
}

.category-col img{
    width: 64px;
    height: 64px;
   
}
.category-col h5:hover{
   color: #2874f0;
}

.product-content{
    margin: 0 15px;
}


.card{
   
    padding: 10px 0px;
    margin: 10px 5px;
    position: relative;
    flex-grow: 1;
    overflow: auto;
    padding: 0px 0px 10px 0px;
    min-width: 0px;

}
.card1{
    
    padding: 10px 0px;
    margin: 10px 5px;
    
    flex-grow: 1;
    overflow: auto;
    padding: 0px 0px 10px 0px;
    min-width: 0px;
}
.mainn{
    display: flex;
}
.main-box{
    margin: 0px auto;
    padding: 10px;  
}


 .common-heading{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 10px 20px;
     margin-top: 10px;
     box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
     
 }
 .common-heading1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    margin-top: 10px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}
 .common-heading-left h1{
     font-size: 20px;
     font-weight: 400;
     padding:auto;
     
 }
 .common-heading-left h2{
     font-size: 15px;
     padding: 5px 0px;
     color: rgb(145,141,138) ;
     font-weight: 200;
 }
 .common-heading-left1 {
    display: flex;
    align-items: center;
}

 .common-heading-right button{
     width: 90px;
     height: 40px;
     font-size: 18px;
     background-color: #2874f0;
     border: none;
     color: white;
     border-radius: 2px;
 }


 .common-heading-right1 button{
    width: 90px;
    height: 40px;
    font-size: 18px;
    background-color: #2874f0;
    border: none;
    color: white;
    border-radius: 2px;
 }
 .common-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
    
 }

 .common-row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
    overflow: auto;
 }
 .common-col{
     text-align: center;
     line-height: 22px;
     margin-top: 10px;
     padding: 10px;
 }
 .common-col img{
     width: 95px;
     height: 140px;
     transition: 300ms;
 }
 .common-col img:hover{
     transform: scale(0.8);
 }
 .common-col h3,h4,h6{
     text-transform: capitalize;
     letter-spacing: 1px;
     cursor: pointer;
 }
 .common-col h3{
     margin-top: 10px;
     font-size: 16px;
 }
 .common-col h4{
     color: green;
     font-size: 14px;
     font-weight: 300;
 }
 .common-col h6{
    color: rgb(161,161,161);
    font-size: 12px;
    font-weight: 100;
 }


 .fa-stopwatch{
    margin-right: 5px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner{
    
        padding: 5px;
        margin: 10px 5px;
        
        
}
.watch{
    padding-left: 8px;
}

 .banner img{
 width: auto;
 height: auto;
 max-width: 250px
}
 .btn {
    position: absolute;
    right: 0;
    top: calc(50% - 52px);
    height: 75px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    background: #fafafa;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 /16%);
    width: 30px;
    opacity: 10px;
    
 }

 .btn:hover{
    background-color: rgb(153, 153, 153);
 }

 .left-div{
    display: flex;
    flex-direction: row;
 }
 
 .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 

 @media screen and (max-width:1024px) {
    .header-center-input{
        width: 310px;
    }
    
  }


  @media screen and (max-width:768px) {
    .header-right a{
        margin: 0px 15px;
    }
    .common-heading-left h5{
        margin-top: 10px;
    }
    
  }


  @media screen and (max-width:640px) {
    .head1{
        flex-direction:column;
    }   

    .left-div{
        justify-content: center;
    }

    .header-right{
        justify-content: center;
    }
    .common-row1{
        flex-direction: column;
    }
    .card{
        flex-wrap: wrap;
    }
    .mainn{
        flex-direction: column;
    }
    .common-heading-left1{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .watch{
        padding-left: 0px;
    }

    .banner img{
        width: 100%;
        max-width: 100%;
    }

  }

  @media screen and (max-width:375px) {
    
    .header-center-input{
        width: 250px;
    }  
    .icon{
        display: none;
     }
    .mainn{
        flex-direction: column;
    }

  }

  @media screen and (max-width:320px) {
    .icon{
       display: none;
    }
    .header-center-input{
        width: 200px;
    }

    .header-right a{
        margin: 0px 10px;
    }
    .mainn{
        flex-direction: column;
    }
    

  }
  



